{
    "swagger": "2.0",
    "info": {
        "title": "ProductSearch Api",
        "description": "ProductSearch Api",
        "termsOfService": "https:\/\/www.digikey.com\/en\/terms-and-conditions",
        "contact": {
            "name": "B2BApi Team",
            "url": "https:\/\/developer.digikey.com\/support",
            "email": "dl_Agile_Team_B2B_API@digikey.com"
        },
        "version": "v4",
        "x-technical-domain": "Sales"
    },
    "host": "api.digikey.com",
    "x-host-sandbox": "sandbox-api.digikey.com",
    "x-host-production": "api.digikey.com",
    "basePath": "\/products\/v4",
    "schemes": [
        "https"
    ],
    "paths": {
        "\/search\/keyword": {
            "post": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Enter parameters, keywords, or a manufacturer part number\/DigiKey part number and receive limited product information for each match. Note that MyPricing is not returned.",
                "description": "Search for product information based on part number, description, manufacturer, or category. This new API supports two-legged and three-legged OAuth authentication. \r\n[all endpoints for https:\/\/developer.digikey.com\/products\/product-information-v4\/productsearch]\r\n\r\nMyPricing is not available in the KeywordSearch response, and only StandardPricing is returned.\r\nPlease use the ProductDetails or ProductPricing endpoints to receive MyPricing",
                "operationId": "KeywordSearch",
                "consumes": [
                    "application\/json"
                ],
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#\/definitions\/KeywordRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/KeywordResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/productdetails": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Enter a manufacturer part number\/DigiKey part number and receive expanded production information for a single-matched product. MyPricing is shown if applicable.",
                "description": "Works best with a Digi-Key product number. MyPricing is shown if applicable.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale and currencies will be set to default values if not populated or populated with invalid values. Check the “Settings Used” fields to see which values we used for the response.",
                "operationId": "ProductDetails",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "The product to retrieve details for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "manufacturerId",
                        "description": "Use when searching for manufacturer product number like CR2032 that will match with multiple manufacturers. Setting this query field to a manufacturer id will get the exact match you want.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includes",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Account-Id",
                        "description": "Your DigiKey AccountID. This optional field should be populated when your email address is associated with more than one Account and you are using 3-legged OAuth. If you are using 2-Legged OAuth, it is a required field to receive a successful response.\n\nWe use the AccountID to determine if MyPricing, if available, will be returned and which region’s pricing agreement will be used.\n\nSelect ‘My account’ above to learn more about AccountIDs.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/ProductDetails"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/manufacturers": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve all Product Manufacturers. ManufacturersId can be used in KeywordSearch to restrict the search to a given Manufacturer",
                "operationId": "Manufacturers",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/ManufacturersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/categories": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve all Product Categories. CategoryId can be used in KeywordSearch to restrict the search to a given Category.",
                "operationId": "Categories",
                "produces": [
                    "application\/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/CategoriesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/categories\/{categoryId}": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Returns Category for given Id.",
                "operationId": "CategoriesById",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/CategoryResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/digireelpricing": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve DigiReel pricing for a given DigiKeyProductNumber and RequestedQuantity",
                "operationId": "DigiReelPricing",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "The Digi-Key ProductNumber requested for Digi-Reel price calculation. It must be a\r\nDigi-Key Product number that is for a Digi-Reel pack type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestedQuantity",
                        "description": "The quantity of the product you are looking to create a Digi-Reel with. Must be greater\r\nthan 0.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Account-Id",
                        "description": "Your DigiKey AccountID. This optional field should be populated when your email address is associated with more than one Account and you are using 3-legged OAuth. If you are using 2-Legged OAuth, it is a required field to receive a successful response.\n\nWe use the AccountID to determine if MyPricing, if available, will be returned and which region’s pricing agreement will be used.\n\nSelect ‘My account’ above to learn more about AccountIDs.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/DigiReelPricing"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/recommendedproducts": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve Recommended Products for a given product",
                "operationId": "RecommendedProducts",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "The Product being searched for",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "The number of records to be returned",
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "in": "query",
                        "name": "searchOptionList",
                        "description": "A comma delimited list of filters that can be used to limit results. Available filters\r\nare the following: LeadFree, CollapsePackingTypes, ExcludeNonStock, Has3DModel, InStock, ManufacturerPartSearch,\r\nNewProductsOnly, RoHSCompliant.",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "excludeMarketPlaceProducts",
                        "description": "Used to exclude MarkPlace products from search results. Default is false",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/RecommendedProductsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/substitutions": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve Substitutions for a given product",
                "description": "Works best with a Digi-Key Product number. Some manufacturer product numbers conflict with unrelated products and\r\nmay not\r\nreturn the correct product.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale defaults to United\r\nStates.",
                "operationId": "Substitutions",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includes",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/ProductSubstitutesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/associations": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve Associations for a given product",
                "description": "Works best with a Digi-Key Product number. Some manufacturer product numbers conflict with unrelated products and\r\nmay not\r\nreturn the correct product.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale defaults to United\r\nStates.",
                "operationId": "Associations",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "The product to retrieve substitutions for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/ProductAssociationsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/packagetypebyquantity\/{productNumber}": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Deprecated – please use PricingByQuantity endpoint to receive pricing for all package types when you enter a product number and desired quantity",
                "operationId": "PackageTypeByQuantity",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "A product number. Can be either Digi-Key or Manufacturer, but some manufacturer product\r\nnumbers are ambiguous and will not be found. A DKR product number will override a CT packagingPreference.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "requestedQuantity",
                        "description": "The quantity of the product that you are interested in. This will be used to determine\r\nthe quantity to purchase in standard tape and reel, and also in your product preference for the remainder.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "packagingPreference",
                        "description": "Can be either \"CT\" for Cut Tape or \"DKR\" for Digi-Reel. This will select what package\r\ntype to use for the remainder of quantity outside a standard reel.",
                        "type": "string",
                        "default": ""
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Account-Id",
                        "description": "Your DigiKey AccountID. This optional field should be populated when your email address is associated with more than one Account and you are using 3-legged OAuth. If you are using 2-Legged OAuth, it is a required field to receive a successful response.\n\nWe use the AccountID to determine if MyPricing, if available, will be returned and which region’s pricing agreement will be used.\n\nSelect ‘My account’ above to learn more about AccountIDs.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/PackageTypeByQuantityResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/media": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve all media for a given product",
                "operationId": "Media",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/MediaResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/pricing": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Enter a manufacturer part number\/DigiKey part number or partial manufacturer part number\/DigiKey part number and receive product information for each matched product. MyPricing is shown if applicable.",
                "description": "Allows you to use inStock and excludeMarketplace as limit. If there are multiple matching parts, you can see the additional ones by incrementing your input using the offset and limit fields. Locale information is required in the headers for accurate pricing and currencies. Locale and currencies will be set to default values if not populated or populated with invalid values. Check the “Settings Used” fields to see which values we used for the response.",
                "operationId": "ProductPricing",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "ProductNumber to search on. Can be partial part number, manufacturer part number, or a Digi-Key part number.\tEnter the ProductNumber to be searched. You can enter a manufacturer part number or a DigiKey part number. You can enter a partial or complete product number. The search results are better when entering a DigiKey product number, as some manufacturers share the same manufacturer part number.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Enter the maximum number of products to be returned. The maximum amount is 10. Default value: 5",
                        "type": "integer",
                        "format": "int32",
                        "default": 5
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Enter the starting index for the records to be returned. This is used when making subsequent calls for the same ProductNumber. Default value: 0",
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "in": "query",
                        "name": "inStock",
                        "description": "Enter true to exclude products that are not in stock. Default value : false",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "in": "query",
                        "name": "excludeMarketplace",
                        "description": "Enter true to exclude Marketplace items and limit results to those fulfilled by DigiKey. Default value: false",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "in": "query",
                        "name": "excludeTariff",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Account-Id",
                        "description": "Your DigiKey AccountID. This optional field should be populated when your email address is associated with more than one Account and you are using 3-legged OAuth. If you are using 2-Legged OAuth, it is a required field to receive a successful response.\n\nWe use the AccountID to determine if MyPricing, if available, will be returned and which region’s pricing agreement will be used.\n\nSelect ‘My account’ above to learn more about AccountIDs.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "This value determines which country’s prices are used for StandardPricing and MyPricing. Also, product restrictions can differ by country. Acceptable values include: AT, AU, BE, BG, BR, CA, CH, CN, CZ, DE, DK, EE, ES, FI, FR, GR, HK, HU, IE, IL, IN, IT, JP, KR, LT, LU, LV, MX, MY, NL, NO, NZ, PH, PL, PT, RO, SE, SG, SI, SK, TH, TW, UK, US, ZA\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "This value determines which language is used for the links in reply. If the entered language is not valid for the entered Locale-Site, it will default to English. Acceptable values include: CS, DA, DE, EN, ES, FI, FR, HE, HU, IT, JA, KO, NL, NO, PL, PT, RO, SV, TH, ZHS, ZHT\nDefault value: English",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "This value determines which country’s prices are used for StandardPricing and MyPricing. If the value is not allowed for the entered Locale-Site, it defaults to the primary currency for that Locale-Site. Ex: If Locale-Currency = EUR and Locale-Site = US, then the system will default to USD and note that in the response. Acceptable values include: AUD, CAD, CHF, CNY, CZK, DKK, EUR, GBP, HKD, HUF, ILS, INR, JPY, KRW, MYR, NOK, NZD, PHP, PLN, RON, SEK, SGD, THB, TWD, USD, ZAR\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your App. Enter the ClientID for the Product App used to make the call.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/ProductPricingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/alternatepackaging": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Retrieve Alternate Packaging for a given product",
                "description": "Works best with a Digi-Key Product number. Some manufacturer product numbers conflict with unrelated products and\r\nmay not\r\nreturn the correct product.\r\nLocale information is required in the headers for accurate pricing and currencies. Locale defaults to United\r\nStates.",
                "operationId": "AlternatePackaging",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/AlternatePackagingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        },
        "\/search\/{productNumber}\/pricingbyquantity\/{requestedQuantity}": {
            "get": {
                "tags": [
                    "ProductSearch"
                ],
                "summary": "Enter a manufacturer part number\/DigiKey part number and requested quantity to receive the price for that quantity. MyPricing is shown if applicable.",
                "description": "The PricingOption in the response may contain up to four sets of pricing.\r\n<ul><li>Exact: We priced the exact amount you requested.<\/li><li>MinimumOrderQuantity: We increased the amount you requested to the minimum order quantity<\/li><li>MaxOrderQuantity : We lowered the amount you requested to the maximum order quantity<\/li><li>BetterValue: We increased the amount you requested to match a manufacturer's standard package and the total cost is lower than the amount you requested.<\/li><\/ul>",
                "operationId": "PricingOptionsByQuantity",
                "produces": [
                    "application\/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productNumber",
                        "description": "ProductNumber to search on. You can enter a manufacturer part number or a DigiKey part number. The search results are better when entering a DigiKey product number, as some manufacturers share the same manufacturer part number.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "requestedQuantity",
                        "description": "The RequestedQuantity we used for the API call.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "manufacturerId",
                        "description": "Use when searching for manufacturer product numbers like CR2032 that will match with multiple manufacturers. Setting this query field to a manufacturer id will get the exact match you want. You can look up the manufacturer id in the Manufacturers endpoint.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Client-Id",
                        "description": "The Client Id for your app.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Language",
                        "description": "Two letter code for language to search on. Language must be supported by the selected site. If searching on keyword, this language is used to find matches. Acceptable values include: en, ja, de, fr, ko, zhs, zht, it, es, he, nl, sv, pl, fi, da, no.\nDefault value: en",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Currency",
                        "description": "Three letter code for Currency to return part pricing for. Currency must be supported by the selected site. Acceptable values include: USD, CAD, JPY, GBP, EUR, HKD, SGD, TWD, KRW, AUD, NZD, INR, DKK, NOK, SEK, ILS, CNY, PLN, CHF, CZK, HUF, RON, ZAR, MYR, THB, PHP.\nDefault value: primary currency for the entered Locale-site.",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Locale-Site",
                        "description": "Two letter code for Digi-Key product website to search on. Different countries' sites have different part restrictions, supported languages, and currencies. Acceptable values include: US, CA, JP, UK, DE, AT, BE, DK, FI, GR, IE, IT, LU, NL, NO, PT, ES, KR, HK, SG, CN, TW, AU, FR, IN, NZ, SE, MX, CH, IL, PL, SK, SI, LV, LT, EE, CZ, HU, BG, MY, ZA, RO, TH, PH, BR, VN.\nDefault value: US",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "X-DIGIKEY-Account-Id",
                        "description": "Your DigiKey AccountID. This optional field should be populated when your email address is associated with more than one Account and you are using 3-legged OAuth. If you are using 2-Legged OAuth, it is a required field to receive a successful response.\n\nWe use the AccountID to determine if MyPricing, if available, will be returned and which region’s pricing agreement will be used.\n\nSelect ‘My account’ above to learn more about AccountIDs.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#\/definitions\/PricingOptionsForQuantityResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request - The input model is invalid or malformed.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Token is expired or Client Id or subscription are invalid.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "403": {
                        "description": "The target resource is forbidden.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found - The requested resource could not be found",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Your rate limit has been exceeded",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "500": {
                        "description": "An unhandled error occurred.",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable - The service is temporarily unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/DKProblemDetails"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AlternatePackaging": {
            "description": "Alternate Packaging",
            "type": "object",
            "properties": {
                "AlternatePackaging": {
                    "description": "Alternate packaging options for this product",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/ProductSummary"
                    }
                }
            },
            "additionalProperties": false
        },
        "AlternatePackagingResponse": {
            "description": "Response model for AlternatePackaging",
            "type": "object",
            "properties": {
                "AlternatePackagings": {
                    "$ref": "#\/definitions\/AlternatePackaging"
                },
                "SearchLocaleUsed": {
                    "$ref": "#\/definitions\/IsoSearchLocale"
                }
            },
            "additionalProperties": false
        },
        "BaseFilterV4": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "Value": {
                    "type": "string"
                },
                "ProductCount": {
                    "format": "int64",
                    "type": "integer"
                }
            },
            "additionalProperties": false
        },
        "BaseProduct": {
            "description": "Base Product Information",
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "description": "Manufacturer Id",
                    "type": "integer"
                },
                "Name": {
                    "description": "Manufacturer Name",
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "CategoriesResponse": {
            "description": "Response model for Categories call.",
            "type": "object",
            "properties": {
                "ProductCount": {
                    "format": "int32",
                    "description": "Count of Products",
                    "type": "integer"
                },
                "Categories": {
                    "description": "List of Categories",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Category"
                    }
                },
                "SearchLocaleUsed": {
                    "$ref": "#\/definitions\/IsoSearchLocale"
                }
            },
            "additionalProperties": false
        },
        "Category": {
            "description": "Categories are used to filter results of a given search\r\nExample: When searching for batteries a category filter can be used to limit the search to rechargeable batteries",
            "type": "object",
            "properties": {
                "CategoryId": {
                    "format": "int32",
                    "description": "CategoryId",
                    "type": "integer"
                },
                "ParentId": {
                    "format": "int32",
                    "description": "The Id of the Parent Category if the given category is a child of another category",
                    "type": "integer"
                },
                "Name": {
                    "description": "Category Name",
                    "type": "string"
                },
                "ProductCount": {
                    "format": "int64",
                    "description": "Number of Products in the Category",
                    "type": "integer"
                },
                "Children": {
                    "description": "List of Child Categories",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/Category"
                    }
                }
            },
            "additionalProperties": false
        },
        "CategoryNode": {
            "description": "Category Information",
            "type": "object",
            "properties": {
                "CategoryId": {
                    "format": "int32",
                    "description": "The Category Id",
                    "type": "integer"
                },
                "ParentId": {
                    "format": "int32",
                    "description": "If this is a child category, this is the Id of the parent category",
                    "type": "integer"
                },
                "Name": {
                    "description": "Category name",
                    "type": "string"
                },
                "ProductCount": {
                    "format": "int64",
                    "description": "The number of products in the category",
                    "type": "integer"
                },
                "NewProductCount": {
                    "format": "int64",
                    "description": "The number of new products in the category",
                    "type": "integer"
                },
                "ImageUrl": {
                    "description": "The URL of the image of the category",
                    "type": "string"
                },
                "SeoDescription": {
                    "description": "The SEO description for the category",
                    "type": "string"
                },
                "ChildCategories": {
                    "description": "A list of all children of the category - Their parent Id will be Category Id",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/CategoryNode"
                    }
                }
            },
            "additionalProperties": false
        },
        "CategoryResponse": {
            "description": "Response model for a single Category call.",
            "type": "object",
            "properties": {
                "Category": {
                    "$ref": "#\/definitions\/Category"
                },
                "SearchLocaleUsed": {
                    "$ref": "#\/definitions\/IsoSearchLocale"
                }
            },
            "additionalProperties": false
        },
        "CategoryType": {
            "type": "object",
            "properties": {
                "CategoryId": {
                    "format": "int32",
                    "description": "ID for DigiKey product category",
                    "type": "integer"
                },
                "Level": {
                    "format": "int32",
                    "description": "DigiKey Product Category level",
                    "type": "integer"
                },
                "Name": {
                    "description": "Name of DigiKey product category",
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "Classifications": {
            "description": "Environmental and Export Classifications",
            "type": "object",
            "properties": {
                "ReachStatus": {
                    "description": "ReachStatus",
                    "type": "string"
                },
                "RohsStatus": {
                    "description": "RohsStatus",
                    "type": "string"
                },
                "MoistureSensitivityLevel": {
                    "description": "Code for Moisture Sensitivity Level of the product",
                    "type": "string"
                },
                "ExportControlClassNumber": {
                    "description": "Export control class number. See documentation from the U.S. Department of Commerce.",
                    "type": "string"
                },
                "HtsusCode": {
                    "description": "Harmonized Tariff Schedule of the United States. See documentation from the U.S. International Trade Commission.",
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "DKProblemDetails": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "status": {
                    "format": "int32",
                    "type": "integer"
                },
                "detail": {
                    "type": "string"
                },
                "instance": {
                    "type": "string"
                },
                "correlationId": {
                    "type": "string"
                },
                "errors": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "readOnly": true
                }
            },
            "additionalProperties": false
        },
        "Description": {
            "type": "object",
            "properties": {
                "ProductDescription": {
                    "description": "Description of the product. If you entered a valid Locale and Language in the input, we will return the description in that language. Otherwise, we’ll return the English description.",
                    "type": "string"
                },
                "DetailedDescription": {
                    "description": "Detailed description of the product. If you entered a valid Locale and Language in the input, we will return the description in that language. Otherwise, we’ll return the English description.",
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "DigiReelPricing": {
            "description": "Response for Digi-Reel Pricing Request",
            "type": "object",
            "properties": {
                "ReelingFee": {
                    "format": "double",
                    "description": "Fee per reel ordered.",
                    "type": "number",
                    "example": 7
                },
                "UnitPrice": {
                    "format": "double",
                    "description": "Price of a single unit of the product.",
                    "type": "number",
                    "example": 0.01704
                },
                "ExtendedPrice": {
                    "format": "double",
                    "description": "The total price of the requested reels and the reeling fee.",
                    "type": "number",
                    "example": 8.52
                },
                "RequestedQuantity": {
                    "format": "int32",
                    "description": "The passed in quantity of the product you are looking to create a Digi-Reel with.",
                    "type": "integer",
                    "example": 500
                },
                "SearchLocaleUsed": {
                    "$ref": "#\/definitions\/IsoSearchLocale"
                },
                "AccountIdUsed": {
                    "format": "int32",
                    "description": "The AccountID we used for the transaction. It may have been entered in the X-DIGIKEY-Account-ID field or determined from the API user’s authentication request.",
                    "type": "integer"
                },
                "CustomerIdUsed": {
                    "format": "int32",
                    "description": "The CustomerID we used for the transaction.",
                    "type": "integer"
                }
            },
            "additionalProperties": false
        },
        "FilterId": {
            "description": "Filter Id",
            "type": "object",
            "properties": {
                "Id": {
                    "description": "The Id of the Filter",
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "FilterOptions": {
            "type": "object",
            "properties": {
                "Manufacturers": {
                    "description": "The Manufacturers that can be filtered to narrow next search request",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/BaseFilterV4"
                    }
                },
                "Packaging": {
                    "description": "Packaging that can be filtered to narrow next search request",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/BaseFilterV4"
                    }
                },
                "Status": {
                    "description": "Status that can be filtered to narrow next search request",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/BaseFilterV4"
                    }
                },
                "Series": {
                    "description": "Series that can be filtered to narrow next search request",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/BaseFilterV4"
                    }
                },
                "ParametricFilters": {
                    "description": "ParaetricFilter that can be filtered to narrow next search request",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/ParameterFilterOptionsResponse"
                    }
                },
                "TopCategories": {
                    "description": "the top Categories to filter",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/TopCategory"
                    }
                },
                "MarketPlaceFilters": {
                    "description": "Marketplace Filter",
                    "type": "array",
                    "items": {
                        "enum": [
                            "NoFilter",
                            "ExcludeMarketPlace",
                            "MarketPlaceOnly"
                        ],
                        "type": "string"
                    }
                }
            },
            "additionalProperties": false
        },
        "FilterOptionsRequest": {
            "description": "Filtering options for keyword search",
            "type": "object",
            "properties": {
                "ManufacturerFilter": {
                    "description": "Filter on Manufacturer",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/FilterId"
                    }
                },
                "CategoryFilter": {
                    "description": "Category",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/FilterId"
                    }
                },
                "StatusFilter": {
                    "description": "Status",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/FilterId"
                    }
                },
                "PackagingFilter": {
                    "description": "Packaging",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/FilterId"
                    }
                },
                "MarketPlaceFilter": {
                    "description": "MarketPlaceFilter",
                    "enum": [
                        "NoFilter",
                        "ExcludeMarketPlace",
                        "MarketPlaceOnly"
                    ],
                    "type": "string"
                },
                "TariffFilter": {
                    "description": "TariffFilter",
                    "enum": [
                        "None",
                        "ExcludeTariff",
                        "TariffOnly"
                    ],
                    "type": "string"
                },
                "SeriesFilter": {
                    "description": "SeriesFilter",
                    "type": "array",
                    "items": {
                        "$ref": "#\/definitions\/FilterId"
                    }
                },
                "MinimumQuantityAvailable": {
                    "format": "int32",
                    "description": "The MinimumQuantityAvailable for the result to display",
                    "type": "integer"
                },
                "ParameterFilterRequest": {
                    "$ref": "#\/definitions\/ParameterFilterRequest"
                },
                "SearchOptions": {
                    "description": "\/SearchOptions",
                    "type": "array",
                    "items": {
                        "enum": [
                            "ChipOutpost",
                            "Has3DModel",
                            "HasCadModel",
                            "HasDatasheet",
                            "HasProductPhoto",
                            "InStock",
                            "NewProduct",
                            "NonRohsCompliant",
                            "NormallyStocking",
                            "RohsCompliant"
                        ],
                        "type": "string"
                    }
                }
            },
            "additionalProperties": false
        },
        "FilterValue": {
            "description": "Filter Values",
            "type": "object",
            "properties": {
                "ProductCount": {
                    "format": "int64",
                    "description": "Number of products with this filter",
                    "type": "integer"
                },
                "ValueId": {
                    "description": "Filter Value Id",
                    "type": "string"
                },
                "ValueName": {
                    "description": "Filter Value Name",
                    "type": "string"
                },
                "RangeFilterType": {
                    "description": "Filter Range - possible values: Min, Max, Range",
                    "enum": [
                        "Min",
                        "Max",
                        "Range"
                    ],
                    "type": "string"
                }
            },
            "additionalProperties": false
        },
        "Filters": {
            "description": "Filters used for search",
            "type": "object",
            "properties": {
                "IsInStock": {
                    "description": "Did we use the “IsInStock” limit?",
                    "type": "boolean",
                    "example": false
                },
                "ExcludeMarketplace": {
                    "description": "Did we use the “ExcludeMarketplace” limit?",
                    "type": "boolean",
                    "example": false
                },
                "ExcludeTariff": {
                    "description": "Did we use the \"ExcludeTariff\" limit?",
                    "type": "boolean"
                }
            },
            "additionalProperties": false
        },
        "IsoSearchLocale": {
            "description": "The validated locale that was used for the search. If the provided locale was invalid, this will show the corrections.",
            "type": "object",
            "properties": {
                "Site": {
                    "description": "The site we used for the API call. Note this may be different than the value you entered if that value was not one of our allowed values.",
                    "type": "string",
                    "example": "US"
                },
                "Language": {
                    "description": "The language we used for the API call. Note this may be different than the value you entered if that value was not one of our allowed values or not valid for the entered site.",
                    "type": "string",
                    "example": "en"
                },
                "Currency": {
                    "description": "The currency we used for the API call. Note this may be different than the value you entered if that value was not one of our allowed values or not valid for the entered site.",
                    "type": "string",
[...]
